<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' />
  </head>
  <body>
    <h1>Hey there!</h1>
    <p>
      Your order for <%= @order.total %> has been successfully processed!
    </p>
  

  </body>
</html>