<center style="font-size:30px; color:#6495ED">Your shopping cart is empty!
  <%= image_tag("1.jpeg") %>
    <button type="button" class="btn btn-default btn-lg">
      <%= link_to 'http://localhost:3000', id: "logo" do %>
        Click here for the homepage
        <% end %>
    </button>
</center>